@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
ul,li{
  list-style-type: none;
}
body{
    background-color: #171717;
}
.wrapper{
    margin: 0 auto;
    width: 80%;
    max-width: 1440px;
}
.header-content{
    padding: 32px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.logo{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
}
header nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 55px;
}
header nav ul li{
    color: #F9F9F9;
    font-weight: 400;
    font-size: 18px;
}
header nav ul li:hover, .footer-content nav ul li:hover{
    color: #FF9F29;
    cursor: pointer;
}
.button{
    color: white;
    background-color: #FF9F29;
    width: fit-content;
    display: block;
    padding: 13px 20px;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 18px;
}
.button:hover{
    cursor: pointer;
    background-color: #ff8c00;
}
footer{
    border-top: 3px solid #212121;
    padding: 84px 0;
}
.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}
.footer-content nav p{
    font-weight: 600;
    color: #F9F9F9;
    font-size: 18px;
}
.footer-nav-ul li, .social-media-ul{
    font-weight: 500;
    color: #888A85;
    font-size: 16px;
}
.footer-content nav, .footer-nav-ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.social-media-ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 24px;
}
@media screen and (max-width: 1024px){
    .wrapper{
        width: 90%;
    }
    .header-content{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 768px){
    .footer-content {
        justify-content: center;
    }
    .header-content {
        flex-direction: column;
    }
    header nav ul{
        gap: 20px;
    }
}
@media screen and (max-width: 425px){
    .footer-content {
        text-align: center;
        align-items: center;
    }
    .social-media-ul{
        justify-content: center;
    }
}